<p></p>
<div class="list-group-item clearfix">
    <div class="row">
      <div class="col">
        <h4 class="list-group-item-heading">
            <p>
              <i class="fas fa-user-circle" style="font-size: 30px;"></i>
              Email: {{ user.email }}
            </p>
          </h4>
          <h5>
            <p >
                <i class="fas fa-dollar-sign" style="font-size: 30px;"></i>
                Available money: {{user.amountOfMoney}}
            </p>
            <p>
                <i class="fas fa-check-square" style="font-size: 30px;"></i>
                Number of bought products: {{user.numberOfBoughtItems}}
            </p>
            <p class="list-group-item-text">
              <i class="fas fa-user-lock" style="font-size: 30px;"></i>
              Blockade status: {{user.isBlocked}}</p>
          </h5>
      </div>
      <div class="col">
        <div class="">
            <div>
                <ng-template [ngIf]="user.isBlocked">
                    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="onUnblockUser()">Unblock {{user.email}}</button>
                </ng-template>
                <ng-template [ngIf]="!user.isBlocked">
                    <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="onBlockUser()">Block {{user.email}}</button>
                </ng-template>
            </div>
        </div>
      </div>
    </div>
</div>
<p></p>
