<div class="container" style="float:left; width:100%;">
    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-8">
          <form class="form-inline" style="width:120%; margin:5px;" >
              <select class="form-control" title="Some placeholder text..." (change)="selectChangeHandler($event)">
                  <option value="">No Category</option>
                  <option value="Computers">Computers</option>
                  <option value="Clothes">Clothes</option>
                  <option value="Electronics">Electronics</option>
                  <option value="Furniture">Furniture</option>
                  <option value="Food">Food</option>
                  <option value="Health">Health</option>
                  <option value="Beauty">Beauty</option>
                  <option value="Shoes">Shoes</option>
                  <option value="Toyes">Toyes</option>
                  <option value="Phones">Phones</option>
                  <option value="Vehicles">Vehicles</option>
                  <option value="Garden">Garden</option>
                  <option value="Sport">Sport</option>
                  <option value="Others">Others</option>
              </select>
          <input class="form-control"style="width:400px;" type="search" placeholder="Search" aria-label="Search" #searchInput>&ensp;&ensp;
          <button class="btn btn btn-primary" style="width:120px;" type="button" (click)="onSearch(searchInput.value)">Search</button>
        </form>
      </div>
      <div class="col md-1">

      </div>
    </div>
</div>


