<div class="main container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <br><br>
      <form (ngSubmit)="onSignUp(f)" #f="ngForm">
        <div class="form-group">
          <label for="email" style="font-size: 20px;">
              <i class="fas fa-envelope" style="font-size: 23px;"></i>
            Email</label>
          <input type="email" id="email" name="email" ngModel class="form-control">
            <br>
          <label for="password" style="font-size: 20px;">
              <i class="fas fa-lock" style="font-size: 23px;"></i>
            Password</label>
          <input type="password" id="password" name="password" ngModel class="form-control">
        </div>
        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#confirmationModal">Sign Up</button>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

  <!-- Modal -->
  <div id="confirmationModal" class="modal fade" role="alert">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
           <p *ngIf="!isPasswordValid" style="color: #da4011; transform: translateX(80px)">Error</p>
           <p *ngIf="isPasswordValid" style="color: rgb(24, 202, 24); transform: translateX(80px)">Success !</p>
          </h4>
        </div>
        <div class="modal-body">
          <p *ngIf="!isPasswordValid" class="center">Password must contain at least 8 characters including
            uppercase letter, lowercase letter, number and special character.
          </p>
          <p *ngIf="isPasswordValid" class="center">Account has been created correctly.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>

