<br/>
<br/>
<div class="main container">
  <div class="row">
    <div class="col">
         <span class="pull-right">
            <img src="{{product.imageSource}}"
            alt="{{product.name}}"
            class="img-responsive" style="max-height: 300px; transform: translateX(50px);">
          </span>
    </div>
    <div class="col" style="font-size: 30px; transform: translateX(90px);">
           <p>
                <i class="far fa-comment-alt" style="font-size: 25px;"></i>
                {{ product.name }}
           </p>
           <p>
              <i class="fas fa-dollar-sign" style="font-size: 30px;"></i>
              Price: {{product.price}}
          </p>
          <p>
              <i class="fas fa-check-square" style="font-size: 30px;"></i>
              Available: {{product.quantity}}
          </p>
          <p>
            <i class="fas fa-user" style="font-size: 30px;"></i>
            Owner: {{ product.ownerEmail }}
          </p>
          <p class="list-group-item-text">
            <i class="fas fa-dice" style="font-size: 30px;"></i>
            Category: {{ product.category }}
          </p>
    </div>

  </div>
  <br>
  <div class="row" style="font-size: 18px;">
    <div class="col">
      <i class="fas fa-font" style="font-size: 25px;"></i>
      {{ product.description }}
    </div>
    <div class="col" style="transform: translateX(90px);">
        <ng-template [ngIf]="authService.isAuthenticated()">
          <div class="block">
              <input class="form-control"
                [(ngModel)]="numberOfBoughtProducts"
                style="width:100px; text-align: center; margin-bottom: 10px" type="number"
                value="1" min="1" max="product.quantity">
          </div>

          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="onBuyNow()"
              data-toggle="modal" data-target="#confirmationModal">Buy Now</button>
          </ng-template>
    </div>
   <!-- <ng-template [ngIf]="resultOfTransaction === 2">
      <p>bought</p>
    </ng-template> -->
  </div>
</div>

<!-- Modal Transaction has been accepted -->
<div id="confirmationModal" class="modal fade"  role="alert">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
        <!--  <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">
           <!-- <span style="text-align: center">Success</span>-->
           <p *ngIf="resultOfTransaction < 2" style="color: #da4011; transform: translateX(80px)">Error</p>
           <p *ngIf="resultOfTransaction === 2" style="color: rgb(24, 202, 24); transform: translateX(80px)">Success !</p>
          </h4>
        </div>
        <div class="modal-body">
          <p *ngIf="resultOfTransaction === 0" class="center">There is no enough products.</p>
          <p *ngIf="resultOfTransaction === 1" class="center">You do not have enough money.</p>
          <p *ngIf="resultOfTransaction === 2" class="center">You have bought {{numberOfBoughtProducts}} product(s).</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
</div>
